.icon-dashboard  {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


.button-icon > span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
