<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 action-buttons">
                <button *ngIf="this.queryIsString === 'material'" style="    text-align: left;margin-right: 5px;" (click)="backLink()" mat-raised-button color="warning"><mat-icon>open_in_new</mat-icon> Вернутся к материалам</button>
                <button *ngIf="this.queryIsString === 'edit'" style="    text-align: left;margin-right: 5px;" (click)="backLink()" mat-raised-button color="warning"><mat-icon>open_in_new</mat-icon> Вернутся к материалам</button>
                <button *ngIf="this.queryIsString === 'edit'" style="    text-align: left;margin-right: 5px;" (click)="delMaterial()" mat-raised-button color="warning"><mat-icon>delete</mat-icon> Удалить материал</button>
            </div>
        </div>
    </div>
</div>
